
cv_raw.txt
cv_raw_copy.txt
Baroque.pdf
cv.docx
minimal-master/.github/CODEOWNERS
minimal-master/.github/config.yml
minimal-master/.github/no-response.yml
minimal-master/.github/settings.yml
minimal-master/.github/stale.yml
minimal-master/.rubocop.yml
minimal-master/.travis.yml
minimal-master/_config.yml
minimal-master/_layouts/default.html
minimal-master/_layouts/post.html
minimal-master/_sass/fonts.scss
minimal-master/_sass/jekyll-theme-minimal.scss
minimal-master/_sass/rouge-github.scss
minimal-master/another-page.md
minimal-master/assets/css/style.scss
minimal-master/assets/fonts/Noto-Sans-700/Noto-Sans-700.eot
minimal-master/assets/fonts/Noto-Sans-700/Noto-Sans-700.svg
minimal-master/assets/fonts/Noto-Sans-700/Noto-Sans-700.ttf
minimal-master/assets/fonts/Noto-Sans-700/Noto-Sans-700.woff
minimal-master/assets/fonts/Noto-Sans-700/Noto-Sans-700.woff2
minimal-master/assets/fonts/Noto-Sans-700italic/Noto-Sans-700italic.eot
minimal-master/assets/fonts/Noto-Sans-700italic/Noto-Sans-700italic.svg
minimal-master/assets/fonts/Noto-Sans-700italic/Noto-Sans-700italic.ttf
minimal-master/assets/fonts/Noto-Sans-700italic/Noto-Sans-700italic.woff
minimal-master/assets/fonts/Noto-Sans-700italic/Noto-Sans-700italic.woff2
minimal-master/assets/fonts/Noto-Sans-italic/Noto-Sans-italic.eot
minimal-master/assets/fonts/Noto-Sans-italic/Noto-Sans-italic.svg
minimal-master/assets/fonts/Noto-Sans-italic/Noto-Sans-italic.ttf
minimal-master/assets/fonts/Noto-Sans-italic/Noto-Sans-italic.woff
minimal-master/assets/fonts/Noto-Sans-italic/Noto-Sans-italic.woff2
minimal-master/assets/fonts/Noto-Sans-regular/Noto-Sans-regular.eot
minimal-master/assets/fonts/Noto-Sans-regular/Noto-Sans-regular.svg
minimal-master/assets/fonts/Noto-Sans-regular/Noto-Sans-regular.ttf
minimal-master/assets/fonts/Noto-Sans-regular/Noto-Sans-regular.woff
minimal-master/assets/fonts/Noto-Sans-regular/Noto-Sans-regular.woff2
minimal-master/assets/img/logo.png
minimal-master/assets/js/scale.fix.js
minimal-master/docs/CODE_OF_CONDUCT.md
minimal-master/docs/CONTRIBUTING.md
minimal-master/docs/SUPPORT.md
minimal-master/Gemfile
minimal-master/index.md
minimal-master/jekyll-theme-minimal.gemspec
minimal-master/LICENSE
minimal-master/README.md
minimal-master/script/bootstrap
minimal-master/script/cibuild
minimal-master/script/release
minimal-master/script/validate-html
minimal-master/thumbnail.png
images/IMG_20180328_145207_477-gigapixel.jpg
images/IMG_20180328_145207_477-gigapixel (1).jpg
